# This is a safe template. You WILL upload this to GitHub so other developers know what variables they need.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=postgresql://user:password@localhost:5432/cloudcost